html, body, #map-page, #map-container {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

div#map-canvas {
	position: absolute;
	width: 100%; 
	height: 100%;
}


#mappopup {
line-height: 1.35;
overflow: hidden;
white-space: nowrap;
}

/*
#map-canvas {
	position: absolute;
	width: 100%; 
	height: 100%;
	top: 0;
	left: 0;
}
#mappopup {
	line-height: 1.35;
	overflow: hidden;
	white-space: nowrap;
}


#map .ui-content {
	position: static;
}
Map page - END */


